
.about-section {
  width: 100%;
  max-width: 100%;
  height: 60vh;
  background: #121212;
  color: #e0e0e0;
  font-family: 'Orbitron', sans-serif;

}

.intro {
  text-align: center;
  font-size: 3.5rem;
  color: #ff9800;
  letter-spacing: 7.5px;
  margin: 20px;
}

.about-content {
  display: grid;
  grid-template-columns: 70% 25%;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  padding: 1.5em;
}

.vision{
  background: #1e1e1e;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.wedo {
  background: #1e1e1e;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.vision h2, .wedo h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #ff9800;
  letter-spacing: 3px;
}

.vision p, .wedo p {
  font-size: 1.2rem;
  line-height: 1.5;
  letter-spacing: 3px;
  color: #e0e0e0;
}


.wedo ul {
  margin-top: 1rem;
  padding-left: 1.5rem;
  list-style-type: none;
  list-style-type: " ➤ " ;
}

.wedo ul li {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  color: #e0e0e0;
  line-height: 1.5;
  letter-spacing: 3px;
}

.wedo li::marker{
  color: #ff9800;
}


.head-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background: #1e1e1e;
  padding: 1.5rem;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.head-photo {
  width: 300px;
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #ff9800;
}

.head-name {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ff9800;
  margin: 5% 0%;
  letter-spacing: 3px;
  text-align: center;
}
.head-photo{
  text-align: center;
  justify-content: center;
  display: flex;
}

.head-title {
  text-align: center;
  font-size: 2rem;
  color: #e0e0e0;
  font-style: italic; letter-spacing: 3px;
}

@media (max-width:1300px) {
  .head-photo{
    width: 250px;
    aspect-ratio: 1;
  }
  .about-content{
    display: flex;
    flex-direction: column;
  }
  .head-info {
    order: -1;
    padding: 5%;
  display: grid;
  }
  .head-name{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .head-photo{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .head-title{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .vision{
    text-align: center;
    padding: 1rem;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  }
  .wedo {
    text-align: center;
    padding: 1rem;
    grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  }
  .wedo > ul {
    text-align: left;
    padding: 1rem;
  }

}

@media (max-width: 768px) {
  .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

  }

  .head-info {
    order: -1;
    display: flex;
  }

  .vision{
    text-align: center;
    padding: 1rem;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  }
  .wedo {
    text-align: center;
    padding: 1rem;
    grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  }

  .head-photo {
    width: 200px;
  }
  .head-name{
    font-size: 1.5em;
  }
  .head-title{
    font-size: 1.25em;
  }
  .intro{
    font-size: 3em;
  }
  
.vision h2, .wedo h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #ff9800;
  letter-spacing: 3px;
}

.vision p, .wedo p {
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 3px;
  color: #e0e0e0;
}


.wedo ul {
  margin-top: 1rem;
  padding-left: 1.5rem;
  list-style-type: " ➤ ";
  color: #ff9800;
  line-height: 1.5;
}

.wedo ul li {
  margin: 0rem 0.5rem;
  font-size: 1.1rem;
  color: #e0e0e0;
  line-height: 1.5;
  letter-spacing: 3px;
  line-height: 1.5;
}
}



