
*{
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Public;
    src: url("/fonts/PublicSans-VariableFont_wght.ttf") format('truetype');
}


/*---------------------------------------------------------------------*/

.header{
    width: 100%;
    height: 10vh;
    border: 1px solid black;
    display: flex;
    font-family: Public;
    font-size: x-large;
}

.logo{
    width: 20%;
    height: 10vh;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.options{
    width: 60%;
    height: 10vh;
    display: flex;
    justify-content: space-between;

    align-items: center;
    border: 1px solid blue;
}

.extra{
    width: 20%;
    height: 10vh;
    border: 1px solid red;
}

/*---------------------------------------------------------------------*/

.about{
    height: 5vh;
    width: 25%;
    margin: 5%;
    border: 1px solid yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact{
    height: 5vh;
    width: 25%;
    margin: 5%;
    border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team{
    height: 5vh;
    width: 25%;
    margin: 5%;
    border: 1px solid yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

