/* Animation to reveal content with smooth transition */
@keyframes showContent {
    to {
      transform: translateY(0px);
      filter: blur(0px);
      opacity: 1;
    }
  }
  
  /* Animation to expand and show an image */
  @keyframes showImage {
    to {
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 0;
    }
  }
  
  /* Smooth gradient background animation */
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  /* Animation for showing a thumbnail */
  @keyframes showThumbnail {
    from {
      width: 0;
      opacity: 0;
    }
  }
  
  /* Animation for transitioning to the next frame */
  @keyframes effectNext {
    from {
      transform: translateX(150px);
    }
  }
  
  /* Animation for running time progress effect */
  @keyframes runningTime {
    from {
      width: 100%;
    }
    to {
      width: 0;
    }
  }
  
  /* Animation for scaling down and positioning previous frame */
  @keyframes outFrame {
    to {
      width: 150px;
      height: 220px;
      bottom: 50px;
      left: 50%;
      border-radius: 20px;
    }
  }
  
  /* Animation to blur and move content upwards */
  @keyframes contentOut {
    to {
      transform: translateY(-150px);
      filter: blur(20px);
      opacity: 0;
    }
  }
  