
*{
    margin: 0;
    box-sizing: border-box;
}

body,html{
    font-family: "Orbitron", sans-serif;
    background: #121212;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

body::-webkit-scrollbar{
    display: none;
}

a{
    text-decoration: none;
}